@import url('http://fonts.cdnfonts.com/css/whitney-2');

/* regole generali  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Whitney', sans-serif;
}

.centered {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* header  */

.navbarContainer {    
    width: 100%;
    /* debug */
    height: 100px;
    background-color: darkgoldenrod;
}

nav {
}

#logo {
    float: left;
    width: 25%;
    /* debug */
    height: 80px;
    background-color: darkgray;
}

#navbar {
    float: left;
    width: 50%;
    /* debug */
    height: 80px;
    background-color: darkgreen;
}

#login {
    float: left;
    width: 25%;
    /* debug */
    height: 80px;
    background-color: darkmagenta;
}

/* main  */



/* footer  */


