@import url('http://fonts.cdnfonts.com/css/whitney-2');

/* regole generali  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Whitney', sans-serif;
}

h3 {
    font-size: 50px;
    margin-bottom: 30px;
}

.centered {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    text-decoration: none;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 20px;
    padding: 0 20px;
    margin-right: 20px;
    color: #000;
}


/* header  */

.navbarContainer {    
    width: 100%;
    height: auto;
    background-color: #3161e0;
    padding: 20px 0;
}

    nav div {
        float: left;
    }

    #logo {
        width: 25%;
    }

    #navbar {
        width: 50%;
        text-align: center;
        line-height: 30px;
        vertical-align: middle;
    }

        #navbar li {
            margin-right: 20px;
            display: inline-block;
        }

            #navbar li a {
                text-decoration: none;
                color: white;
            }

    #login {
        float: right;
    }

        #login a {
            height: 30px;
            line-height: 30px;
        }

/* jumbotron */

#jumbotron {
    width: 100%;
    height: 60vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

    #jumbotron section {
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        #jumbotron section h3 {
            color: #fff;
        }

        #jumbotron section p {
            color: #fff;
            font-size: 20px;
            margin-bottom: 30px;
        }

        #jumbotron .fa-long-arrow-alt-down {
            margin-right: 5px;
        }

        #jumbotron .btnBlack {
            background-color: #23272a;
            color: #fff;
        }
            


/* main  */

.mainSectBackground {
    background-color: #f6f6f6;
}

.mainSection {
    width: 100%;
    height: 75vh;
}

    .mainSection div {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
    }


    .mainSectionImg {
        padding: 100px 0 100px 100px;

    }
        .mainSectionImg  img{
            max-width: 100%;
        }

    .mainSectionText {
        padding: 100px 150px;
    }

.lastSection {
    text-align: center;
}

    .lastSection .mainSectionText {
        padding: 100px 100px 0;
    }

    .lastSection .mainSectionImg {
        padding: 0 100px;
    }

    .lastSection h4 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 30px;
        background-image: url(../img/stars.svg);
        background-size: 100%;
        padding-top: 50px;
    }

    .lastSection .button {
        margin: 50px 0;
    }

    .btnBlue {
        background-color: #8ea1e1;
        color: #fff;
    }

/* footer  */

footer {
    background-color: #23272a;
    width: 100%;
    height: auto;
    color: #fff;
}

    #topFooter {
        width: 100%;
        height: auto;
        padding: 100px 0 50px;
        border-bottom: 2px solid #7289da;
    }

        #footerTitle, #footerLinks {
            float: left;
        }

            #footerTitle {
                width: 25%;
                padding-right: 100px;
            }

                #footerTitle h4 {
                    color: #7289da;
                    font-size: 30px;
                    margin-bottom: 25px;
                }

                #footerLanguage {
                    height: 20px;
                    font-size: 15px;
                    line-height: 15px;
                    vertical-align: middle;
                    margin-bottom: 25px;
                }

                    #footerLanguage img {
                        max-height: 15px;
                        margin-right: 3px;
                    }

                    #footerLanguage a {
                        text-decoration: none;
                        color: #fff;
                    }

                    #footerLanguage i {
                        font-size: 10px;
                    }

                    #socialMediaIcons i {
                        margin-right: 15px;
                        color: #fff;
                    }

            #footerLinks ul {
                display: inline-block;
                float: left;
                margin-right: 100px;
                list-style-type: none;
            }

                .linksTitle {
                    color: #7289da;
                }

                #footerLinks ul li {
                    margin-bottom: 10px;
                }

#bottomFooter {
    width: 100%;
    height: 200px;
    background-color: lightsteelblue;
}